ul
{
	padding: 0;
	list-style: none;
}
ul li { margin-top: 3px; }

div.button
{
	width: 100px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #999;
	background-color: #333;
}

.board-row:after
{
	clear: both;
	content: '';
	display: table;
}

.game
{
	flex: 0 1 auto;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin-top: 30px;
}

.game-info
{
	font-weight: bold;
	width: 105px;
	margin-left: 20px;
	padding: 10px 10px 0;
	text-align: center;
	background-color: #666;
	border: 1px solid #111;
	border-radius: 5px;
}

.score
{
	display: flex;
	flex-flow: row nowrap;
}

.score div
{
	flex: 1 0 auto;
	
	margin-bottom: 6px;
}
.score div:first-child { border-right: 1px solid #000; }

.status
{
	padding-top: 4px;
	border-top: 1px solid #000;
}

.square
{
	float: left;
	width: 250px;
	height: 250px;
	line-height: 250px;
	font-size: 250px;
	font-weight: bold;
	padding: 0;
	margin-top: -1px;
	margin-right: -1px;
	text-align: center;
	background: #666;
	border: 1px solid #888;
}

.square:focus { outline: none; }
.kbd-navigation .square:focus { background: #ddd; }
